// 项目提供scss全局变量
//定义项目主题颜色

$theme-color: #8AAADC;       // 主题文字色
$theme-background-color:#EDF3FE ;
$theme-hover-color: #5a73be; //  hover 加深色
$theme-text-color:#2E3B55  ;

// 左侧菜单
$base-menu-width:260px;  //左侧的菜单的宽度
$base-menu-background: #F7F8FA; 
// 菜单项统一高度
$menu-item-height: 60px;
$menu-border-color: var(--border-color); // 跟主题走



// vant组件样式
/* 输入框外层容器 */
.van-cell.van-field {
  background-color: var(--input-bg) !important;
  border-radius: 8px;
}

/* 输入框文本颜色 */
.van-field__control {
  color: var(--input-text) !important;
  background: transparent !important;
}

/* 占位符颜色 */
.van-field__control::placeholder {
  color: var(--input-placeholder) !important;
}





// ai问答 ———— 代码复制按钮
// 父容器：定位用，让按钮能悬浮在右上角
.code-block-wrapper {
  position: relative!important;  /* 加 !important 防止被其他样式覆盖 */
  margin: 12px 0;
  display: block;
}

.copy-code-btn {
  position: absolute!important;  /* 加 !important 防止被其他样式覆盖 */
  top: 10px;    /* 顶部距离 */
  right: 12px; /* 右侧距离 */
  z-index: 10;

  padding: 3px 8px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  opacity: 0.8;
  border: none !important;

  /* 👇 只加这三行，修复变✅缩小问题 */
  min-width: 50px !important;
  width: 50px !important;
  text-align: center !important;
}

/* 鼠标放上去才变清晰，更优雅 */
.copy-code-btn:hover {
  opacity: 1;
}


.success-icon {
  font-size: 20px !important;
  color: #fff !important;
}


// 滚动条
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  // background: #c1c1c1; /* 滚动条轨道背景 */
  // background: #E5E5E5;
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #d1d5db; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* 鼠标悬浮时颜色加深 */ 
}


